// size
$size: 1rem;
$s4: 0.25 * $size;
$s12: 0.75 * $size;
$s16: $size;
$s20: 1.25 * $size;
$s24: 1.5 * $size;
$s28: 1.75 * $size;
$s30: 1.875 * $size;
$s32: 2 * $size;
$s36: 2 * $size;
$s40: 2.5 * $size;
$s48: 3 * $size;
$s64: 4 * $size;
$s72: 4.5 * $size;
$s96: 6 * $size;
$s108: 6.75 * $size;
$s120: 7.5 * $size;
$s128: 8 * $size;
$s160: 10 * $size;
$s192: 12 * $size;
$s206: 12.875 * $size;
