<div class="container about d-flex">
  <ol class="lh-30 font-20 d-flex wrap- w-50 mt-206 mb-206 gap-24 pr-24">
    <li class="w-48 border p-16">
      01
      <h3>Attention to Detail</h3>
      <p class="lh-24 font-16">Meticulous code analysis and optimization.</p>
    </li>
    <li class="w-48 border p-16">
      02
      <h3>Adaptability</h3>
      <p class="lh-24 font-16">Swift learning of new technologies.</p>
    </li>
    <li class="w-48 border p-16">
      03
      <h3>Problem Solver</h3>
      <p class="lh-24 font-16">Identifying and resolving issues.</p>
    </li>
    <li class="w-48 border p-16">
      04
      <h3>Team Player</h3>
      <p class="lh-24 font-16">Collaborates and shares ideas.</p>
    </li>
  </ol>
  <section class="about-me w-40 mt-160 ml-120">
    <h2 class="lh-96 font-64">About Me</h2>
    <p class="mt-36 lh-36 font-24 ">
      With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript,
      jQuery, and React. I have a strong understanding of user experience design
      and accessibility. I'm always learning new technologies and techniques to
      stay up-to-date in the field.
    </p>
  </section>
</div>
