<div class="contact-me">
  <div class="container d-flex">
    <section class="d-flex align-center w-50">
      <h2 class="color-white lh-96 font-64 mt-128 mb-128 text-nowrap">CONTACT ME</h2>
      <img
        class="ml-12"
        src="../assets/images/trending_flat_black_24dp 1.png"
        alt=""
      />
    </section>
    <ul class="d-flex mt-96 gap-20 ml-120">
      <li>
        <a href="#"><img class="shadow" src="../assets/images/discord.png" alt="instagram" /></a>
      </li>
      <li>
        <a href="#"><img class="shadow" src="../assets/images/instagram.png" alt="instagram" /></a>
      </li>
      <li>
        <a href="#"><img class="shadow" src="../assets/images/message.png" alt="instagram" /></a>
      </li>
    </ul>
  </div>
</div>
