<header class="header color-white">
    <div class="container h-100">
        <ul class="d-flex justify-between h-100">
            <li class="w-25 pt-40"><a href="#" class="decoration-none color-white">WILLIAM LEE</a></li>
            <li class="w-25 pt-40"><a href="#" class="decoration-none color-white">BASED IN TAIWAN</a></li>
            <li class="w-25 pt-40 pb-24"><a href="#" class="decoration-none color-white">CURRENTLY FRONT END ENGINEER AT HEXSCHOOL</a></li>
            <li class="w-15 text-align-right mt-40"><a href="#" class="decoration-none color-white">CONTACT ME</a></li>
        </ul>
    </div>
</header>