<div class="introduction">
    <div class="container color-white d-flex">
        <section class="w-40 mt-160">
            <h2 class="lh-96 font-64">Introduction</h2>
            <p class="lh-36 font-24">Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.</p>
            <img src="../assets/images/sparkle-sm.png" alt="sparkle" class="mt-32">
        </section>
        <ul class="d-flex w-60 justify-between mt-160 mb-160 gap-24 ml-48">
            <li>
        <img src="../assets/images/sparkle.png" alt="sparkle">
            </li>
            <li>
        <img src="../assets/images/photographer.png" alt="photo">
            </li>
            <li>
        <img src="../assets/images/people-2.png" alt="people">
            </li>
        </ul>
    </div>

</div>