<main>
  <div class="container color-white d-flex align-center">
    <div class="mt-72 w-50">
      <img src="../assets/images/people.png" alt="people" />
    </div>
    <section class="ml-24 w-50">
      <h2 class="font-64 lh-96">
        HI<br />
        I’m a front-end developer
      </h2>
      <h1 class="color-green lh-192 font-128 text-align-right">William</h1>
      <div class="d-flex justify-end">
        <a href="#"  class="text-align-right inline-block decoration-none radius-32 bg-color-white color-black pt-12 pb-12 pl-24 pr-24">
            CONTACT ME <span class="material-icons vertical-align-middle ml-4"> north_east </span>
          </a>
      </div>
      
    </section>
  </div>
</main>
