<div class="container mt-160">
  <h2 class="lh-96 font-64 ml-42p">My Projects</h2>
  <ul class="d-flex mt-16">
    <li class="w-33">
      <img class="h-100"
        src="../assets/images/computer-2.png"
        alt="computer"
      />
    </li>
    <li class="w-67 ml-24">
      <ul class="d-flex wrap-">
        <li class="d-flex ">
          <div class="">
            <img 
              src="../assets/images/code.png"
              alt="code"
            />
          </div>
          <div class="d-flex wrap- w-70 ml-24">
            <p class="">
              I've worked on a variety of websites, including e-commerce sites,
              blogs, and landing pages. I take pride in creating clean,
              efficient, and user-friendly code.
            </p>
            <div class="d-flex align-end">
              <a
                href="#"
                class="text-align-right inline-block decoration-none radius-32 bg-color-black color-white pt-12 pb-12 pl-24 pr-24"
              >
                SEE MORE
                <span class="material-icons vertical-align-middle ml-4">
                  north_east
                </span>
              </a>
            </div>
          </div>
        </li>
          <li class="mt-28">
            <img src="../assets/images/phone.png" alt="phone" />
          </li>
          <li class="ml-24 mt-28">
            <img src="../assets/images/computer.png" alt="computer" />
          </li>
      </ul>
    </li>
  </ul>
</div>
