
.lh-{
    &30{
        line-height: $s30;
    }
    &36{
        line-height: $s36;
    }
    &64{
        line-height: $s64;
    }
    &96{
        line-height: $s96;
    }
    &192{
        line-height: $s192;
    }
}